<h1>User Data for
  <%= user[0].fullName %>
</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <td>
      <%= user[0].fullName %>
    </td>
  </tr>
  <tr>
    <th>Email</th>
    <td>
      <%= user[0].email %>
    </td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td>
      <%= user[0].zipCode %>
    </td>
  </tr>
  <tr>
    <th>Password</th>
    <td class="hidden-text">
      <%= user[0].password %>
    </td>
  </tr>
</table>

<% if (user[0].subscribedAccount) { %>
<h4 class="center"> This user has a
  <a href="<%=`/subscribers/${user.subscribedAccount}` %>">
    subscribed account</a>.
</h4>
<% } %>


<div class="center">
  <a class="button" href="/users">View all users</a>
</div>
